<div class="greeting border">
  <h1>Would you like to play a game?</h1>
  <nav class="war-game">
    <p>
      <a href="#">Chess</a>
    </p>
    <p>
      <a href="#">Poker</a>
    </p>
    <p>
      <a href="#">Fighter Combat</a>
    </p>
    <p>
      <a href="#">Guerilla Engagement</a>
    </p>
    <p>
      <a href="#">Desert Warfare</a>
    </p>
    <p>
      <a href="#">Air-To-Ground Action</a>
    </p>
    <p>
      <a href="#">Theatre Wide Tactical Warfare</a>
    </p>
    <p>
      <a href="#">Theaterwide Biotioxic and Checmical Warfare</a>
    </p>
    <p>
      <a href="#">Guild Battleground Skirmish</a>
    </p>
    <p>
      <a href="#">Global Thermonuclear War</a>
    </p>
  </nav>
</div>
