$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
.border {
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
}

table {
	border-collapse:collapse;
}

td {
	background-color: black;
	border: 3px solid white;
	font-size:80px;
	color:#ffffff;
	border-radius: 10px 10px 10px 10px;
}
td:hover
{
    background-color: #dbdbdb;
    cursor:pointer;
}
.main-content {
float: left;
}